coc/
configstore/
deluge/
fisher/
fontforge/
menus/
mpd/
mps-youtube/
mpv/
NuGet/
pulse/
wireshark/
yarn/
QCAD
gcloud/
KDE/
Kvantum/
Mailspring/
QtProject.conf
TabNine/
Trolltech.conf
Unknown Organization/
VirtualBox/
akonadi-firstrunrc
akonadi-migrationrc
akonadi/
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
albert/
arkrc
auroraerc
autostart-scripts/
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
breezerc
chromium/
cordless/
dconf/
device_automounter_kcmrc
discord/
discoverrc
dolphinrc
drkonqirc
emaildefaults
emailidentities
eventviewsrc
google-chrome/
gtk-2.0/
gtk-3.0/
gtkrc
gtkrc-2.0
gwenviewrc
i3/
kaccessrc
kactivitymanagerd-pluginsrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
kalarmrc
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kde.org/
kded5rc
kdeglobals
kdialogrc
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kiorc
kitenrc
kitty/themes/
kleopatrarc
kmail2rc
kmailsearchindexingrc
kmixctrlrc
kmixrc
konq_history
konquerorrc
konsolerc
korgacrc
korganizerrc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ksysguardrc
ktimezonedrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
latte/
lattedockrc
libaccounts-glib/
mimeapps.list
nitrogen/
okularrc
phishingurlrc
picom/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasmanotifyrc
plasmarc
plasmashellrc
polybar/
powerdevilrc
powermanagementprofilesrc
sddmthemeinstallerrc
session/
signond/
specialmailcollectionsrc
spectaclerc
systemsettingsrc
trashrc
ulauncher/
webengineurlinterceptoradblockrc
xsettingsd/
zoomus.conf
KeePassXCrc
keepassxc/
